body {
	background-color: #000000;
	padding: 0.5em;
}
p, input {
	font-family: monospace;
	font-size: 1.5em;
	color: #00ff00;
}
input, #prompt {
	display: inline;
}
input {
	background-color: #000000;
}
* {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border: none;
	outline: none;
}
